<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:image" content="{{ "images/OG.png" | absolute_url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="twitter:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="twitter:image" content="{{ "images/OG.png" | absolute_url }}">

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="author" content="Webdevplus">

 <!-- sitemap -->

<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

 <!-- canonical -->

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | absolute_url }}" />
  <!-- font-awesome -->
  <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | absolute_url }}" />
  <!-- Main Stylesheets -->
  <link href="{{ '/css/style.css' | absolute_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet" />

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ "images/favicon.png" | absolute_url }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absolute_url }}" type="image/x-icon" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Why isn’t my website getting any visitors?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "The problem may not necessarily be the website design itself, but with how friendly (or optimized) it is for search engines. According to studies, 95% of people who go on Google don’t even go beyond the first page of the results! To get the clicks and traffic you want, your website needs to not only be on the very first page of Google, it also needs to be as close to the top as possible to get as much visibility from potential visitors when they are searching for something on search engines. No matter how good your content is or how beautifully designed your graphics are, if your keywords and headlines aren’t targeting the right audience, then you’re never going to get any visitors."
        }
      }, {
        "@type": "Question",
        "name": "Do I really need to hire a web design company?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We’re sure you’ve been getting a ton of ads on social media for services and templates that promise you can build your own website in 3 simple steps but trust us on this one – investing in the best web design company in the Philippines will be the wiser and more cost-effective option in the long run. Professional web designers aren’t just thinking about aesthetics – we’re thinking about functionality, accessibility, user experience, overall layout, and even mobile friendliness. A truly good website is able to seamlessly merge function with aesthetic. The problem with cookie cutter templates that are readily available online is that it’s a one-size-fits-all solution – they don’t take into consideration your business’s unique needs or selling points. Our web design services will carefully craft your website to ensure that it mirrors your brand and speaks to your target demographic while highlighting your unique selling points."
        }
      }, {
        "@type": "Question",
        "name": "How long will it take to get a new website?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "The time it takes to set up a website will depend on the kind of web design services you’ve chosen. In our experience as a web design and development company in the Philippines, launching a website project takes 1.5 to 3 man-months. We allot time at the start of the engagement to do site analysis and pre-design. We also perform thorough site quality analysis (QA) before website turnover. We set internal project management milestones to keep the project on track. We also remind our web development clients to send timely feedback to maintain progress."
        }
      }, {
        "@type": "Question",
        "name": "How much will a website cost me?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "A standard web design and development package includes website analysis and pre-design; front and back-end development; website testing and QA. You might add other services to your package, such as: content creation; migration of existing content; SEO; or e-commerce. We apply standard man-hour costs for each aspect of your project. We submit a formal proposal which contains information about each component to all of our prospective clients."
        }
      }, {
        "@type": "Question",
        "name": "I’m looking for an e-commerce solution. Do you design and develop e-commerce websites?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Yes! We offer two e-commerce development solutions: WooCommerce (which is WordPress-based) or Shopify. Our recommendation will depend on your overall e-commerce objectives."
        }
      }, {
        "@type": "Question",
        "name": "Do you only create WordPress websites?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"We are comfortable working with other platforms, but WordPress is our platform of choice. WordPress is highly customizable, which is important for future upgrades and redesigns. It is also an e-commerce ready platform with WooCommerce. Finally, it’s easy for anyone with basic knowledge of WordPress to manage content on their website."}
        }, {
        "@type": "Question",
        "name": "Will I be able to update the site myself when it’s finished?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"Yes! We’ve always designed and launched websites that you and your team will be able manage and track on your own. Once it’s done, we return control of the website solely to you (unless you ask us to manage it). We also make sure you can track your website’s performance using Google Analytics."}
        }, {
        "@type": "Question",
        "name": "Why do I still need a website if I have social media accounts?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"While having a strong social media presence is important to any brand, it is not enough. This is because search engines can’t fully crawl or read social media accounts. Search engines have been found to favor content that is published on your own website rather than on a Facebook or Instagram post.

A well thought out website also provides users with much more information than any social media account can. Twitter, for instance, only gives you 280 characters a tweet. On a website, Google recommends writing at least 500 words per page and you can go as long as you’d like describing and discussing your brand, products, and services."}
        }, {
        "@type": "Question",
        "name": "Do I still need a website if I’m conducting an offline marketing campaign?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"These days, there’s no distinction between “online” and “offline” marketing anymore. With people spending more and more time online, these best and optimum way to utilize your marketing efforts is to use both online and offline channels. Targeting only one will leave you leagues behind your competition.

Potential customers use both online and offline advertising to gather information on a product or service they’re interested in. For instance, when a person stuck in traffic along EDSA sees a billboard of your product, he or she will naturally want to know more about it. This usually entails looking it up online. If they can’t find you online, this either means they’ll have to go to your physical store or, the more likely scenario, just go for your competitor who actually has an online presence.

Investing in an experienced web development company in the Philippines ensures that your offline marketing efforts will be funneled into an online channel as well as allowing you to run online campaigns. This widens your reach and allows potential clients to access you from anywhere at any time of the day. Having a well constructed site ensures they can also easily find all the information they need about all of your products and services, and can even allow them to conveniently buy it right then and there."}
        }, {
        "@type": "Question",
        "name": "Will you maintain my site for me?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"We can. We offer site maintenance as part of our web services. Feel free to ask our business development team about this option."}
        }, {
        "@type": "Question",
        "name": "Who writes the content for the site?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"Anyone can write for the website. The president or CEO of your company. Your in-house marketing team. Or a group of dedicated writers managed by us. Talk to us about your content development or content marketing requirements, especially if you’re looking for assistance with SEO. We’d be happy to help."}
        }, {
        "@type": "Question",
        "name": "Will I find my website on the search engines?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"Yes, your website will be searchable on Google, Bing, and other search engines. All websites we develop are SEO-ready. This means your SEO-ready website is optimized for website indexing by Google. And if your website is indexed, it will be found when someone Googles you. Being searchable, however, doesn’t guarantee top rankings in search results. Giving your business online visibility through high search rankings on Google is the job of SEO. That’s why we recommend getting an SEO plan together with your website design package."}
        }, {
        "@type": "Question",
        "name": "I already have a website and it needs updating. Can you help me?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"Yes! Most of our current website design engagements in the Philippines consist of web redesigns. Please contact us at our convenience to discuss plans for your website and how we can help you win more business."}
        }]
    }
    </script>
</head>
