---
layout: default
---
<section class="site-project-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="site-project-single">
          <h1>
            {{ page.title }}
          </h1>
          <div class="site-project-single-description">
            {{ content }}
          </div>
          <div>
            {%- for image in page.project_images -%}
           <img src="/images/blank.png" alt="{{ page.title }}"  data-echo="{{ image | absolute_url }}">
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%- include call-to-action.html -%}



